$main: #1d87e5;
$dark: #005bb2;
$ligth: #69b6ff;

.tableWrapper {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-bottom: 50px;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    background-color: $main;
    border-radius: 10px;
    margin: 0 15px;
    color: #fff;
    box-shadow: 3px 4px 24px -12px rgba(66, 68, 90, 1);

    & th, & td {
        padding: 10px;
        text-align: center;
    }

    & thead .title:not(:last-child),
    & thead .subTitle,
    & tfoot .title,
    & tfoot .subTitle:not(:last-child) {
        border-right: 1px solid $main;
    }

    & thead .subTitle {
        border-top: 1px solid $main;
    }

    & tbody tr:not(:last-child) {
        border-bottom: 2px solid $dark;
    }

    & tfoot th {
        border-bottom-left-radius: 10px;
    }

    & tfoot tr td:last-child {
        border-bottom-right-radius: 10px;
    }
}

.title, .subTitle {    
    background-color: $dark;
}

.odd {
    background-color: $ligth;
}

// .colNine {
//     border-bottom-right-radius: 10px;
// }