
.signUpForm {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 50px;

    &>form {
        box-shadow: 3px 4px 24px -12px rgba(66, 68, 90, 1);
        border-radius: 10px;
    }
}

.wrapper {
    background-color: #1d87e5;
    padding: 20px;
}


.formWrapper {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.labels, .inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 

.labels {
    &>label {
        padding: 5px 0;
        font-size: 18px;
        font-weight: 500;
    }
}

.inputs {
    &>input {
        border: none;
        color: #fff;
        background-color: #69b6ff;
        font-weight: 500;
        font-size: 16px;
        padding: 5px 5px 5px 5px;
        border-radius: 2px 2px 2px 2px;
        outline: none;
        &:focus, &:active {
            outline: #ff5722 solid 2px;
        }
    }
}

.titleWrapper {
    padding: 10px;
    background-color: #005bb2;
    border-radius: 10px 10px 0 0;
}

.title {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.btns {
    display: flex;
}

.btnSignUp {
    width: 70%;
    height: 35px;
    padding: 0 5px 0 5px;
    background-color: #ff5722;
    border: none;
    color: #fff;
    border-radius: 0 0 0 10px;
    font-size: 18px;
    font-weight: 500;
    transition: .1s;
    cursor: pointer;
    outline: none;
    &:hover, &:focus, &:active {
        background-color: #ff8a50;
        outline: #000 solid 0 5px 5px 5px;
    }
}

.btnSignIn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: none;
    width: 30%;
    height: 35px;
    padding: 0 5px 0 5px;
    background-color: #c41c00;
    border: none;
    border-radius: 0 0 10px 0;
    transition: .1s;
    cursor: pointer;
    
    &:hover, &:focus, &:active {
        background-color: #ff8a50;
        outline: #000 solid 0 5px 5px 5px;
    }
    &>p {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }
}