* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    font-family: 'Roboto', sans-serif;
    user-select: none;
  }
  
  ul, ol, li {
    list-style-type: none;
    text-decoration: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }